@import "navbar.css";

* {
  font-size: 100%;
  font-weight: normal;
  text-indent: 0em;
}

.sm-small-caps {
  font-variant: small-caps;
}

.sm-bold {
  font-weight: bold;
}

.sm-superscript {
  vertical-align: super;
  font-size: smaller;
}

.sm-upshape {
  font-weight: normal;
  font-style: normal;
}

.sm-italic {
  font-style: italic;
}

.sm-caesura {
  font-style: normal;
}

.sm-elipsis {
  font-style: normal;
}

.sm-notesep {
  font-style: normal;
}

.sm-title, sm-ms-title, sm-ed-title {
  font-style: italic;
}

.sm-upshape-title {
  font-weight: normal;
  font-style: normal;
}

.sm-parnum {
  margin-left: -1cm;
  font-weight: bold;
  text-align: right;
  cursor: pointer;
  color: firebrick;
}
.sm-parnum:hover {
  color: #BBCEBE;
}

.sm-linum {
  margin-left: 0px;
  font-weight: normal;
  text-align: right;
  cursor: pointer;
  color: firebrick;
  vertical-align: super;
  font-size: smaller;
}
.sm-linum:hover {
  color: #BBCEBE;
}

.sm-folionum {
  border-left: 2px solid gray;
  border-right: 2px solid gray;
  padding-right: 3px;
  padding-left: 3px;
  color: gray;
}

.sm-note-anchor {
  color: darkred;
  vertical-align: super;
}
.sm-note-anchor::before {
  content: "*";
}

.sm-pbmark {
  color: goldenrod;
  font-style: normal;
}

.sm-pbnum {
  position: relative;
  font-style: normal;
}
.sm-pbnum:hover::after {
  font-style: normal;
  background: gold;
  border-radius: 4px;
  bottom: 100%;
  content: attr(title);
  display: block;
  left: 100%;
  padding: 1ex;
  position: relative;
  width: auto;
  z-index: 1;
}

.sm-parnum {
  padding-right: 15px;
  margin-left: 0px;
  position: relative;
  left: -30px;
  text-align: right;
  cursor: pointer;
  color: green;
}

h1:hover .sm-div-info, h2:hover .sm-div-info, h3:hover .sm-div-info, h4:hover .sm-div-info, h5:hover .sm-div-info, h6:hover .sm-div-info {
  display: inline;
}

div.linegroup {
  margin-left: 1em;
  margin-bottom: 1em;
  width: auto;
}

p.sm-note-hidden {
  display: none;
}
p.sm-note-unhidden {
  font-size: 80%;
  width: 60%;
  background-color: thistle;
  display: inline;
}
p.verse {
  margin-top: 0.5em;
  margin-bottom: 0em;
  text-indent: 0em;
  font-style: italic;
  text-align: left;
}

.intro{
margin-top: 0pt;

text-align: justify;
position: relative;

}

q.sm-foreign {
  font-style: italic;
}
q.sm-lexeme {
  font-variant: small-caps;
}

blockquote {
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 2em;
}

.sm-reg {
  position: relative;
  border-bottom: 1px solid red;
  font-size: 100%;
}
.sm-reg:hover::after {
  font-size: x-small;
  font-style: normal;
  font-variant: normal;
  background: #add8e6;
  border-radius: 4px;
  bottom: 100%;
  content: attr(title) " (reg.)";
  display: block;
  left: 100%;
  padding: 1ex;
  position: relative;
  width: max-content;
  z-index: 1;
}

.sm-corr {
  position: relative;
  border-bottom: 1px solid green;
  font-size: 100%;
}
.sm-corr:hover::after {
  font-size: x-small;
  font-style: normal;
  font-variant: normal;
  color: black;
  background: #78e978;
  border-radius: 4px;
  bottom: 100%;
  content: "(corr.)";
  display: block;
  left: 100%;
  padding: 1ex;
  position: relative;
  width: max-content;
  z-index: 1;
}

.sm-sic {
  position: relative;
  color: #a71747;
  margin-left: 0pt;
  font-size: 80%;
  font-style: normal;
  font-variant: normal;
  vertical-align: -1pt;
}
.sm-sic:hover::after {
  font-size: x-small;
  color: black;
  background: #e9a178;
  border-radius: 4px;
  bottom: 100%;
  content: attr(title) " (sic)";
  display: block;
  left: 100%;
  padding: 1ex;
  position: relative;
  width: max-content;
  z-index: 1;
}

a.anchor-in-text, a.anchor-in-note {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
  top: -0.5em;
  font-style: normal;
}
a.anchor-in-text {
  margin-left: 1pt;
}
a.anchor-in-note {
  margin-right: 2pt;
}

p.note {
  display: inline;
}

div.note {
  margin-bottom: 1em;
}

.column {
  float: center;
  width: 49%;
  padding: 5px;
  text-align:center;
  
}
.column1 {
  float: center;
  width: 49%;
  padding: 5px;
  text-align:center;
  
}
.column2 {
  float: center;
  width: 2%;
  padding: 5px;
  text-align:center;
  
}


/* Clear floats after image containers */
.row::after {
  content: "";
  clear: both;
  display: table;
}


/* CSS */
.button-17 {
  align-items: center;
  appearance: none;
  background-color: #22223B;
  border-radius: 24px;
  border-style: none;
  box-shadow: rgba(0, 0, 0, .2) 0 3px 5px -1px,rgba(0, 0, 0, .14) 0 6px 10px 0,rgba(0, 0, 0, .12) 0 1px 18px 0;
  box-sizing: border-box;
  color: #F2E9E4;
  cursor: pointer;
  display: inline-flex;
  fill: currentcolor;
  font-family: "Google Sans",Roboto,Arial,sans-serif;
  font-size: 14px;
  font-weight: 500;
  height: 48px;
  justify-content: center;
  letter-spacing: .25px;
  line-height: normal;
  max-width: 100%;
  overflow: visible;
  padding: 2px 24px;
  position: relative;
  text-align: center;
  text-transform: none;
  transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1),opacity 15ms linear 30ms,transform 270ms cubic-bezier(0, 0, .2, 1) 0ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: auto;
  will-change: transform,opacity;
  z-index: 0;
}

.button-17:hover {
  background: #F2E9E4;
  color: #174ea6;
}

.button-17:active {
  box-shadow: 0 4px 4px 0 rgb(60 64 67 / 30%), 0 8px 12px 6px rgb(60 64 67 / 15%);
  outline: none;
}

.button-17:focus {
  outline: none;
  border: 2px solid #4285f4;
}

.button-17:not(:disabled) {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):hover {
  box-shadow: rgba(60, 64, 67, .3) 0 2px 3px 0, rgba(60, 64, 67, .15) 0 6px 10px 4px;
}

.button-17:not(:disabled):focus {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}

.button-17:not(:disabled):active {
  box-shadow: rgba(60, 64, 67, .3) 0 4px 4px 0, rgba(60, 64, 67, .15) 0 8px 12px 6px;
}

.button-17:disabled {
  box-shadow: rgba(60, 64, 67, .3) 0 1px 3px 0, rgba(60, 64, 67, .15) 0 4px 8px 3px;
}
.button-17:link {
	color:#F2E9E4;
	cursor: pointer;
}
a:link{
  color:#F2E9E4;
	cursor: pointer;
  text-decoration:none;
}
.center-fit {
  max-width: 100%;
  
  margin: auto;
}

/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #22223B;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}