
.navul {  
    list-style-type: none;  
    
    width:100%;  
    top:0;  
    margin: 0;  
    padding: 0px;  
    overflow: hidden;  
    background-color: #22223B;  
  }  
    
  .navli {  
    float: left;  
      border-right: 1px solid #F2E9E4;  
  }  
  
  li nav, .anav, .dropbtn {  
    display:inline-block;  
    color: #F2E9E4;  
    font-size:20px;  
    text-align: center;  
    padding: 10px 20px;  
    text-decoration: none;  
    font-family: "Helvetica Neue",Helvetica,Arial;
  }  
  .active{  
  background-color: #22223B;  
  color: #C9ADA7;  
  }  
  li nav, a:hover , .dropdown:hover .dropbtn {  
    background-color: 9A8C98;  
    color: white;  
  }  
    
  .dropdown-content {  
    display: none;  
    position: absolute;  
    background-color: lightblue;  
    min-width: 160px;  
    box-shadow: 5px 8px 10px 0px black;  
   }  
    
  .dropdown-content a {  
    color: black;  
    padding: 12px 16px;  
    text-decoration: none;  
    display: block;  
    text-align: left;  
  }  
    
  .dropdown-content a:hover {  
  background-color: gray;  
  color:white;  
  }  
    
  .dropdown:hover .dropdown-content {  
    display: block;  
  }  
/* CSS */
.button-2 {
  background-color: rgba(51, 51, 51, 0.05);
  border-radius: 8px;
  border-width: 0;
  color: #22223B;
  cursor: pointer;
  display: inline-block;
  font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  list-style: none;
  margin: 0;
  padding: 10px 12px;
  text-align: center;
  transition: all 200ms;
  vertical-align: baseline;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}